# DAY 5 = PYTHON PROGRAMMING

## ðŸ’» Exercises - Module 5

### Exercises: Level 1

1. Declare an empty list
2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list
5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using _print()_
8. Print the number of companies in the list
9. Print the first, middle and last company
10. Print the list after modifying one of the companies
11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)
14. Join the it_companies with a string '#;&nbsp; '
15. Check if a certain company exists in the it_companies list.
16. Sort the list using sort() method
17. Reverse the list in descending order using reverse() method
18. Slice out the first 3 companies from the list
19. Slice out the last 3 companies from the list
20. Slice out the middle IT company or companies from the list
21. Remove the first IT company from the list
22. Remove the middle IT company or companies from the list
23. Remove the last IT company from the list
24. Remove all IT companies from the list
25. Destroy the IT companies list
26. Join the following lists:

    ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']
    ```

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

#### ANSWERS

1. Declare an empty list

In [124]:
empty_list = []

2. Declare a list with more than 5 items

In [125]:
my_list = [1,2,3,4,5,6,7,8,9,10,11]

3. Find the length of your list

In [126]:
len(my_list)

11

4. Get the first item, the middle item, and the last item of the list

In [127]:
first_item = my_list[0]
middle_item = my_list[len(my_list) // 2]
last_item = my_list[-1]

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [128]:
mixed_data_types = ['Muhammad Nafiu', 16, 56.9, 'Single', '109 Amina Street']

6. Declare a list variable named it_companies and assign initial values

In [129]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using `print()`

In [130]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [131]:
print(len('it_companies'))

12

9. Print the first, middle, and last company

In [132]:
first_company = it_companies[0]
middle_company = it_companies[len(it_companies) // 2]
last_company = it_companies[-1]
print(first_company, middle_company, last_company)

Facebook Apple Amazon

10. Print the list after modifying one of the companies

In [133]:
it_companies[0] = 'Meta'
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [134]:
it_companies.append('Tesla')

12. Insert an IT company in the middle of the companies list

In [135]:
it_companies.insert(len(it_companies) // 2, 'Spotify')

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [136]:
it_companies.remove('IBM')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'Spotify', 'Oracle', 'Amazon', 'Tesla']

14. Join the it_companies with a string `#;&nbsp;`

In [137]:
joined_companies = '#;&nbsp; '.join(it_companies)
print(joined_companies)

Meta#;&nbsp; Google#;&nbsp; Microsoft#;&nbsp; Apple#;&nbsp; Spotify#;&nbsp; Oracle#;&nbsp; Amazon#;&nbsp; Tesla

15. Check if a certain company exists in the it_companies list

In [138]:
company_exists = 'Google' in it_companies
print(company_exists)

True

16. Sort the list using `sort()` method

In [139]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Google', 'Meta', 'Microsoft', 'Oracle', 'Spotify', 'Tesla']

17. Reverse the list in descending order using `reverse()` method

In [140]:
it_companies.reverse()
print(it_companies)

['Tesla', 'Spotify', 'Oracle', 'Microsoft', 'Meta', 'Google', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [141]:
first_three_companies = it_companies[:3]
print(first_three_companies)

['Tesla', 'Spotify', 'Oracle']

19. Slice out the last 3 companies from the list

In [142]:
last_three_companies = it_companies[-3:]
print(last_three_companies)

['Google', 'Apple', 'Amazon']

20. Slice out the middle IT company or companies from the list

In [143]:
middle_companies = it_companies[3:-4]
print(middle_companies)

['Microsoft']

21. Remove the first IT company from the list

In [144]:
it_companies.pop(0)

'Tesla'

22. Remove the middle IT company or companies from the list

In [145]:
middle_index = len('it_companies') // 2
it_companies.pop(middle_index)

'Amazon'

23. Remove the last IT company from the list

In [146]:
it_companies.pop(-1)

'Apple'

24. Remove all IT companies from the list

In [147]:
it_companies.clear()

25. Destroy the IT companies list

In [148]:
del it_companies

26. Join the following lists:

In [149]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable `full_stack`, then insert Python and SQL after Redux.

In [150]:
full_stack = front_end + back_end
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Python') + 1, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

1. The following is a list of 10 students ages:

```sh
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```

- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number )
- Find the range of the ages (max minus min)
- Compare the value of (min - average) and (max - average), use _abs()_ method

2. Find the middle country(ies) in the [countries list](https://github.com/Asabeneh/30-Days-Of-Python/tree/master/data/countries.py)
3. Divide the countries list into two equal lists if it is even if not one more country for the first half.
4. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

### Exercises: Level 2

1. The following is a list of 10 students ages:

In [151]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

### Step 1: Sort the list and find the min and max age

In [152]:
ages.sort()
min_age = min(ages)
max_age = max(ages)

In [153]:
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26

### Step 2: Add the min and max age again to the list

In [154]:
ages.append(min_age)
ages.append(max_age)
print("Updated ages list:", ages)

Updated ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

### Step 3: Find the median age

In [155]:
ages.sort()  # Re-sort the list after appending
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]
print("Median age:", median_age)

Median age: 24.0

### Step 4: Find the average age

In [156]:
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

Average age: 22.75

### Step 5: Find the range of the ages

In [157]:
age_range = max_age - min_age
print("Age range:", age_range)

Age range: 7

### Step 6: Compare abs(min - average) and abs(max - average)

In [158]:
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("Difference between min and average:", min_diff)
print("Difference between max and average:", max_diff)

Difference between min and average: 3.75
Difference between max and average: 3.25

### Step 7: Find the middle country(ies) in the countries list

In [159]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
    'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
    'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 
    'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros',
    'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
    'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)',
    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
    'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
    'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland',
    'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
    'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos',
    'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
    'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
    'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco',
    'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
    'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
    'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
    'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
    'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
    'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
    'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
    'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States',
    'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe',
]
countries.sort()
n_countries = len(countries)
middle = n_countries // 2
if n_countries % 2 == 0:
    middle_countries = countries[middle - 1:middle + 1]
else:
    middle_countries = [countries[middle]]
print("Middle country(ies):", middle_countries)

Middle country(ies): ['Lesotho']

### Step 8: Divide countries into two equal lists

In [160]:
first_half = countries[:middle]
second_half = countries[middle:]
print("First half:", first_half)
print("Second half:", second_half)

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo', 'Congo (Brazzaville)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Second half: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

### Step 9: Unpack first three countries and the rest as Scandic countries

In [161]:
specific_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *scandic_countries = specific_countries
print("First country:", first)
print("Second country:", second)
print("Third country:", third)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

## ðŸ’» Tuple Exercises

### Tuple Exercises: Level 1

1. Create an empty tuple
2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
3. Join brothers and sisters tuples and assign it to siblings
4. How many siblings do you have?
5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

### Tuple Exercises: Level 2

1. Unpack siblings and parents from family_members
1. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
1. Change the about food_stuff_tp  tuple to a food_stuff_lt list
1. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
1. Slice out the first three items and the last three items from food_staff_lt list
1. Delete the food_staff_tp tuple completely
1. Check if an item exists in  tuple:

- Check if 'Estonia' is a nordic country
- Check if 'Iceland' is a nordic country

  ```py
  nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
  ```

##### Answers

In [162]:
# Tuple Exercises: Level 1

# 1. Create an empty tuple
empty_tuple = ()
print("Empty tuple:", empty_tuple)

# 2. Create a tuple containing names of your sisters and your brothers
sisters = ("Aisha", "Asiya")
brothers = ("Hassan", "Hussain")
print("Sisters:", sisters)
print("Brothers:", brothers)

# 3. Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings:", siblings)

# 4. How many siblings do you have?
sibling_count = len(siblings)
print("Number of siblings:", sibling_count)

# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ("Father", "Mother")
print("Family members:", family_members)

Empty tuple: ()
Sisters: ('Aisha', 'Asiya')
Brothers: ('Hassan', 'Hussain')
Siblings: ('Aisha', 'Asiya', 'Hassan', 'Hussain')
Number of siblings: 4
Family members: ('Aisha', 'Asiya', 'Hassan', 'Hussain', 'Father', 'Mother')

In [163]:
# Tuple Exercises: Level 2

# 1. Unpack siblings and parents from family_members
*siblings, father, mother = family_members
print("Siblings:", siblings)
print("Father:", father)
print("Mother:", mother)

# 2. Create fruits, vegetables and animal products tuples
fruits = ("Apple", "Banana", "Cherry")
vegetables = ("Carrot", "Cucumber", "Spinach")
animal_products = ("Milk", "Eggs", "Cheese")

# Join the three tuples and assign it to a variable called food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products
print("Food stuff tuple:", food_stuff_tp)

# 3. Change the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print("Food stuff list:", food_stuff_lt)

# 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list
n_food = len(food_stuff_lt)
if n_food % 2 == 0:
    middle_items = food_stuff_lt[n_food // 2 - 1:n_food // 2 + 1]
else:
    middle_items = [food_stuff_lt[n_food // 2]]
print("Middle item(s):", middle_items)

# 5. Slice out the first three items and the last three items from food_stuff_lt list
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print("First three items:", first_three)
print("Last three items:", last_three)

# 6. Delete the food_stuff_tp tuple completely
del food_stuff_tp

# 7. Check if an item exists in tuple
nordic_countries = ("Denmark", "Finland", "Iceland", "Norway", "Sweden")
print("Is 'Estonia' a Nordic country?", "Estonia" in nordic_countries)
print("Is 'Iceland' a Nordic country?", "Iceland" in nordic_countries)

Siblings: ['Aisha', 'Asiya', 'Hassan', 'Hussain']
Father: Father
Mother: Mother
Food stuff tuple: ('Apple', 'Banana', 'Cherry', 'Carrot', 'Cucumber', 'Spinach', 'Milk', 'Eggs', 'Cheese')
Food stuff list: ['Apple', 'Banana', 'Cherry', 'Carrot', 'Cucumber', 'Spinach', 'Milk', 'Eggs', 'Cheese']
Middle item(s): ['Cucumber']
First three items: ['Apple', 'Banana', 'Cherry']
Last three items: ['Milk', 'Eggs', 'Cheese']
Is 'Estonia' a Nordic country? False
Is 'Iceland' a Nordic country? True

## ðŸ’» Sets Exercises

# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
```

### Sets Exercises: Level 1

1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

### Sets Exercises: Level 2

1. Join A and B
1. Find A intersection B
1. Is A subset of B
1. Are A and B disjoint sets
1. Join A with B and B with A
1. What is the symmetric difference between A and B
1. Delete the sets completely

### Sets Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
1. Explain the difference between the following data types: string, list, tuple and set
2. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

#### Answers

In [172]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [173]:
### Sets Exercises: Level 1

# 1. Find the length of the set it_companies
print("Length of it_companies:", len(it_companies))

# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Tesla', 'Adobe', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)

# 4. Remove one of the companies from the set it_companies
it_companies.remove('Google')  # This will raise a KeyError if the item does not exist
print("it_companies after removing 'Google':", it_companies)

# 5. What is the difference between remove and discard
# remove() raises an error if the item is not found, while discard() does not.
it_companies.discard('NonExistentCompany')  # No error

Length of it_companies: 7
it_companies after adding 'Twitter': {'Amazon', 'Microsoft', 'IBM', 'Oracle', 'Apple', 'Twitter', 'Google', 'Facebook'}
it_companies after adding multiple companies: {'Apple', 'Facebook', 'Amazon', 'IBM', 'Tesla', 'Adobe', 'Oracle', 'Google', 'Microsoft', 'Netflix', 'Twitter'}
it_companies after removing 'Google': {'Apple', 'Facebook', 'Amazon', 'IBM', 'Tesla', 'Adobe', 'Oracle', 'Microsoft', 'Netflix', 'Twitter'}

In [174]:
### Sets Exercises: Level 2

# 1. Join A and B
joined_sets = A.union(B)
print("Joined sets A and B:", joined_sets)

# 2. Find A intersection B
intersection = A.intersection(B)
print("Intersection of A and B:", intersection)

# 3. Is A subset of B
is_subset = A.issubset(B)
print("Is A a subset of B?:", is_subset)

# 4. Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint?:", are_disjoint)

# 5. Join A with B and B with A
A_with_B = A.union(B)
B_with_A = B.union(A)
print("A joined with B:", A_with_B)
print("B joined with A:", B_with_A)

# 6. What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

# 7. Delete the sets completely
del A
del B
del it_companies

Joined sets A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B?: True
Are A and B disjoint?: False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}

In [175]:
### Sets Exercises: Level 3

# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))
print("Is the list bigger than the set?:", len(age) > len(age_set))

# 2. Explain the difference between the following data types: string, list, tuple, and set
# - String: Immutable sequence of characters used to store text.
# - List: Ordered and mutable collection of items, allows duplicates.
# - Tuple: Ordered and immutable collection of items, allows duplicates.
# - Set: Unordered and mutable collection of unique items, does not allow duplicates.

# 3. How many unique words have been used in the sentence?
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
unique_words = set(words)
print("Number of unique words in the sentence:", len(unique_words))

Length of age list: 8
Length of age set: 5
Is the list bigger than the set?: True
Number of unique words in the sentence: 10