# DAY 5 = PYTHON PROGRAMMING

## ðŸ’» Exercises - Module 5

### Exercises: Level 1

1. Declare an empty list
2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list
5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using _print()_
8. Print the number of companies in the list
9. Print the first, middle and last company
10. Print the list after modifying one of the companies
11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)
14. Join the it_companies with a string '#;&nbsp; '
15. Check if a certain company exists in the it_companies list.
16. Sort the list using sort() method
17. Reverse the list in descending order using reverse() method
18. Slice out the first 3 companies from the list
19. Slice out the last 3 companies from the list
20. Slice out the middle IT company or companies from the list
21. Remove the first IT company from the list
22. Remove the middle IT company or companies from the list
23. Remove the last IT company from the list
24. Remove all IT companies from the list
25. Destroy the IT companies list
26. Join the following lists:

    ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']
    ```

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

#### ANSWERS

1. Declare an empty list

In [42]:
empty_list = []

2. Declare a list with more than 5 items

In [43]:
my_list = [1,2,3,4,5,6,7,8,9,10]

3. Find the length of your list

In [44]:
len(my_list)

10

4. Get the first item, the middle item, and the last item of the list

In [45]:
first_item = my_list[0]
middle_item = my_list[len(my_list) // 2]
last_item = my_list[-1]

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [46]:
mixed_data_types = ['Muhammad Nafiu', 16, 56.9, 'Single', '109 Amina Street']

6. Declare a list variable named it_companies and assign initial values

In [47]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using `print()`

In [48]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [49]:
print(len('it_companies'))

12

9. Print the first, middle, and last company

In [50]:
first_company = it_companies[0]
middle_company = it_companies[len(it_companies) // 2]
last_company = it_companies[-1]
print(first_company, middle_company, last_company)

Facebook Apple Amazon

10. Print the list after modifying one of the companies

In [51]:
it_companies[0] = 'Meta'
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [52]:
it_companies.append('Tesla')

12. Insert an IT company in the middle of the companies list

In [53]:
it_companies.insert(len(it_companies) // 2, 'Spotify')

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [54]:
it_companies.remove('IBM')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'Spotify', 'Oracle', 'Amazon', 'Tesla']

14. Join the it_companies with a string `#;&nbsp;`

In [55]:
joined_companies = '#;&nbsp; '.join(it_companies)
print(joined_companies)

Meta#;&nbsp; Google#;&nbsp; Microsoft#;&nbsp; Apple#;&nbsp; Spotify#;&nbsp; Oracle#;&nbsp; Amazon#;&nbsp; Tesla

15. Check if a certain company exists in the it_companies list

In [56]:
company_exists = 'Google' in it_companies
print(company_exists)

True

16. Sort the list using `sort()` method

In [57]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Google', 'Meta', 'Microsoft', 'Oracle', 'Spotify', 'Tesla']

17. Reverse the list in descending order using `reverse()` method

In [58]:
it_companies.reverse()
print(it_companies)

['Tesla', 'Spotify', 'Oracle', 'Microsoft', 'Meta', 'Google', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [59]:
first_three_companies = it_companies[:3]
print(first_three_companies)

['Tesla', 'Spotify', 'Oracle']

19. Slice out the last 3 companies from the list

In [60]:
last_three_companies = it_companies[-3:]
print(last_three_companies)

['Google', 'Apple', 'Amazon']

20. Slice out the middle IT company or companies from the list

In [61]:
middle_companies = it_companies[-5::5]
print(middle_companies)

['Microsoft']

21. Remove the first IT company from the list

In [62]:
it_companies.pop(0)

'Tesla'

22. Remove the middle IT company or companies from the list

In [63]:
middle_index = len('it_companies') // 2
it_companies.pop(middle_index)

'Amazon'

23. Remove the last IT company from the list

In [64]:
it_companies.pop(-1)

'Apple'

24. Remove all IT companies from the list

In [65]:
it_companies.clear()

25. Destroy the IT companies list

In [66]:
del it_companies

26. Join the following lists:

In [41]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable `full_stack`, then insert Python and SQL after Redux.

In [67]:
full_stack = front_end + back_end
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Python') + 1, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']